body {
    margin: auto;
    width: 80%;
}

.text-center {
    text-align: center;
}

table {
    margin-top: 20px;
    border-collapse: collapse;
    width: 100%;
}

td {
    text-align: center;
}

table, td, th {
    border: 1px solid black;
}

.column {
    float: left;
    text-align: center;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

#tuesdayColumn, #wednesdayColumn, #thursdayColumn, #fridayColumn {
    width: 25%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    border: 1px solid black;
}

       